{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "lib": [
      "esnext",
      "dom",
      "dom.iterable"
    ]
  },
  "plugins": [
    "@typescript-eslint",
    "vue"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:vue/vue3-recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "rules": {
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/explicit-function-return-type": "warn",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/indent": [
      "error",
      2
    ],
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": [
          "variableLike"
        ],
        "format": [
          "camelCase",
          "PascalCase",
          "UPPER_CASE"
        ],
        "leadingUnderscore": "allow"
      },
      {
        "selector": [
          "typeProperty"
        ],
        "format": [
          "camelCase"
        ],
        "leadingUnderscore": "allowDouble"
      }
    ],
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-shadow": "error",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "vue/component-definition-name-casing": [
      "error",
      "kebab-case"
    ],
    "vue/component-name-in-template-casing": [
      "error",
      "kebab-case",
      {
        "registeredComponentsOnly": true,
        "ignores": []
      }
    ],
    "vue/eqeqeq": "error",
    "vue/html-quotes": [
      "error",
      "double"
    ],
    "vue/match-component-file-name": [
      "error",
      {
        "extensions": [
          "vue"
        ],
        "shouldMatchCase": false
      }
    ],
    "vue/max-attributes-per-line": [
      "error",
      {
        "singleline": 2
      }
    ],
    "vue/name-property-casing": [
      "error",
      "kebab-case"
    ],
    "vue/no-deprecated-scope-attribute": "error",
    "vue/no-deprecated-slot-scope-attribute": "error",
    "vue/no-v-html": "off",
    "vue/no-irregular-whitespace": "error",
    "vue/no-static-inline-styles": "error",
    "vue/require-name-property": "error",
    "vue/singleline-html-element-content-newline": "off",
    "vue/space-infix-ops": "error",
    "vue/v-slot-style": "error",
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "curly": "error",
    "eol-last": "error",
    "error": "off",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ],
        "pathGroups": [
          {
            "pattern": "@/**",
            "group": "internal",
            "position": "after"
          }
        ],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "no-case-declarations": "error",
    "no-console": [
      "warn",
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ],
    "no-multi-spaces": "error",
    "no-multiple-empty-lines": "error",
    "no-trailing-spaces": "error",
    "no-var": "error",
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "object-shorthand": "error",
    "prefer-const": "error",
    "quote-props": [
      "error",
      "as-needed"
    ],
    "quotes": [
      "error",
      "single",
      "avoid-escape"
    ],
    "semi": "error",
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "never",
        "named": "never",
        "asyncArrow": "always"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          [
            "@",
            "./src"
          ]
        ],
        "extensions": [
          ".js",
          ".ts",
          ".tsx",
          ".d.ts",
          ".vue"
        ]
      }
    }
  }
}
